.btn{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    height: var(--height-button); 
    min-width: 80px;
    color: var(--white-color);
    line-height: 20px;
    cursor: pointer;
    padding: 10px 20px;
    outline-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn__base{
    border-radius: var(--border-radius);
    height: var(--height-button) ; 
    width: 80px;
    line-height: 20px;
    cursor: pointer;
    padding: 10px 20px;
    color: #1F2229;
    font-weight: 500;
    border: 1px solid #D3D7DE;
    outline-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    
}

