.dialog {
    position: fixed;
    background-color: var(--layout-color);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
   
  }
  
  .dialog__container{
      height: 100%;
      width: 100%;
  }
  .dialog__content {  
    position: relative; 
    min-width: 444px;
    background-color: var(--background-color);
    border-radius: var( --border-radius);
    padding: 32px;
    animation:  growth linear 0.22s;
    
  }
  .dialog__delete{
    min-width: 444px;
  }
  
  .dialog__body__text{
    margin-left: 24px;
    float: left;
    padding-right: 24px;
  }
  .dialog__footer{
    margin-top: 32px;
    border-top: 1px solid var(--border-color);
    justify-content: right;
    height: 56px;
    padding-top: 16px;
  }
  .dialog__footer-delete{
    display:  flex;
    justify-content: space-between;
  }
  .dialog__footer__valiFrontend{
    display: flex;
    justify-content: center;
  }
  .wd__dialog__error{
    width: 480px;
    z-index: 9;
  }
