
.input__label{
   margin-bottom: 4px;
   font-weight: 500;
   font-family: GoogleSans-Medium;
   cursor: text;
   
}


.container__input{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.required{
    color: rgb(255,0,0);
    font-size: 14px;
}
.input{
   width: 100%;
   height: var( --height-input);
   outline: none;
   border: 1px  solid  var(--border-color);
   border-radius:var(--border-radius);
   padding-left: 12px;
   box-sizing: border-box;
   font-size: 14px;
 
}
.input:hover ~ .input__show__error{
    display: block;
}
.input::placeholder{
    color:   #9E9E9E;
  }
 .input[date]{
      cursor: pointer;
      font-family: GoogleSans-Regular;
  }
  
.input__icon{
    padding-right: 40px;
    height: var( --height-input);
    padding-left: 8px;
    
}

.input:focus{
    border: 1px solid  var(--primary-color);
}
.input__error{
    border: 1px solid  var( --error-color);
}
.input__search{
    max-width: 240px;
    width: 240px;
    margin-right: 6px;

}
.input__margin_16{
    margin-left: 16px;
}
.input__240{
    max-width: 240px;
    width: 240px;

}
.input__160{
    max-width: 160px;
    width: 160px;
}
.input__320{
    max-width: 320px;
    width: 320px;
}
.input__480{
    max-width: 480px;
    width: 480px;
}
.input__margin_16{
    margin-left: 16px;
}
.input__date{
    cursor: pointer;
}
.input__show__error{
    position: absolute;
    top: 64px;
    left: calc((100% - 200px)/2 );
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    background-color:  var(--error-color) ;
    border-radius:  var(--border-radius);
    z-index: 2;
    padding: 4px;
    min-width: 200px;
    display: none;
}
.show__error__department{
    top: 38px;
}
.input__show__error::after{
    content: "";
    border: solid;
    border-width: 12px 14px;
    border-color:    transparent   transparent  var(--error-color) transparent ;
    position: absolute;
    bottom: 74%;
    right:40%;
    z-index: -1;
   
}
.input:focus~ .input__show__error{
    display: none !important;
}
