@import url(./base/icon.css);
@import url(./base/button.css);
@import url(./base/radio.css);
@import url(./base/checkbox.css);
@import url(./base/input.css);
@import url(./base/table.css);
@import url(./base/page.css);
@import url(./base/modal.css);
@import url(./base/dialog.css);
@import url(./base/function.css);
@import url(./base/padding.css);
@import url(./base/margin.css);
@import url(./base/loading.css);
@import url(./base/loadingData.css);
@import url(./base//toast.css);
@import url(./base/combobox.css);
@import url(./controler/hove.css);
@import url(./controler/active.css);
@import url(./base//tooltip.css);
@import url(./base/dropList.css);
@import url(./base//datapicker.css);
:root {
  --primary-color: #2ca01c;
  --hover-color: #35bf22;
  --white-color: #ffffff;
  --border-color: #babec5;
  --border-table-color: #c7c7c7;
  --tr-hover-color: #E6F2FF;
  --layout-color: rgba(0, 0, 0, 0.35);
  --bg-click-color: #CCE4FF;
  --error-color: #E61D1D;
  --item-hover-color: #f8f8f8;
  --scrollbar-thumb-hover: #7C869C;
  --background-color: #ffff;
  --function-text-color: #0075c0;
  --height-button: 36px;
  --border-radius: 4px;
  --height-input: 32px;
  --growth-from: 0.7;
  --growth-to: 1;
}

body {
  color: #1f1f1f;
  margin: 0;
  padding: 0;

  font-size: 14px;
  outline: none;
}

* {
  box-sizing: border-box;
  font-family: GoogleSans-Regular;
}

@font-face {
  font-family: GoogleSans-Regular;
  src: url(../fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url(../fonts/notosans-semibold.df3e6dc4.woff2);
}

.align-right {
  text-align: right;
}

.content__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align__items__center {
  display: flex;
  align-items: center;
}

.flex__between {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
 
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
  cursor: pointer;
}
@keyframes growth{
  from{
      transform: scale(var(--growth-from));
  }
  to{
      transform: scale(var(--growth-to));
  }
}