.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow:  3px 0px 0px rgba(23,27,42,0.059);
    padding: 16px; 
    border-bottom: 1px solid var( --border-table-color);
}
.header__title{
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.header__option{
    display: flex;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}
.header__option__text{
    margin-right: 6px;
    font-weight: 600;
}
.header__account{
 display: flex;
 align-items: center;
 justify-content: space-between;
 cursor: pointer;
} 

.account__container{
    display: flex;
    align-items: center;
    margin-left: 22px;
    justify-content: space-around;
}
.account__img{
    border-radius: 32px;
    margin-right: 6px;
}
.account__text{
  padding-left: 4px;
  font-weight: 600;
  margin-right: 6px;
}