.paging__number--active{
    width: 24px;
    height: 24px;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
}
/* .function__item--active{
    color: var(--primary-color);
    font-weight: 550;
} */