.function__item:hover {
    background-color: var(--item-hover-color);
    color: var(--primary-color);
}

.btn__base:hover {
    background-color: var(--item-hover-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

.table tbody tr:hover td {
    background-color: var(--tr-hover-color) !important;
}
.table tbody tr:hover {
    background-color: var(--tr-hover-color) !important;
}
.table tbody tr:hover ~ .sticky__col{
    background-color: var(--tr-hover-color) !important;
}
/* .modal__header__icon:hover {
    border: 1px solid #D3D7DE;
    border-radius: var(--border-radius);
} */

.btn:hover {
    background-color: var(--hover-color);
}
.data__item:hover{
    color:  var(--primary-color);
    background-color: var(--item-hover-color);
}